:root {
  --background-color: #f6f6f6;
  --secondary-background-color: #ffff; 
  --foreground-color: rgb(1, 76, 236);
  --primary-text-color: #0f0f0f;
  --secondary-text-color: #666;
  --button-text-color: #ffff;
  --background-color1: #f6f6f6;
}

[data-theme="dark"] {
  --background-color: #0f0f0f;
  --secondary-background-color: #212121; 
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #bcbcbc;
  --button-text-color: #ffff;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}